.reportContainer {
  width: 70%;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f7f7f7;
  border-radius: 5px;
}

.reportList {
  list-style-type: none;
  padding: 0;
}

.reportItem {
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.reportItem:last-child {
  border-bottom: none;
}

h2 {
  color: #333;
}

small {
  display: block;
  margin-top: 0.5rem;
  color: #666;
}
