.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #333;
}

.navbar-title {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.navbar-menu {
  display: flex;
  gap: 20px; /* 링크 간의 간격 설정 */
}

.menu-item {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease; /* 호버 효과를 위한 transition 추가 */
}

.menu-item:hover {
  color: #923b13; /* 호버 시 글자색 변경 */
}
.navbar-title:hover {
  color: #923b13; /* 호버 시 글자색 변경 */
}
.logout-btn {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 20px; /* 로그아웃 버튼과 이전 링크와의 간격 설정 */
}

.logout-btn:focus {
  outline: none;
}
