@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Layout Styles */

.main-content {
  flex-grow: 1;
  display: flex;
}
.main {
  margin-top: 50px;
}
.center-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
.sidebar1 {
  position: fixed;
  z-index: 100; /* 높은 z-index 값으로 설정 */
  top: 0;
  left: 0;
  height: 100vh;
}
